body{
    background: url(https://i.imgur.com/QIU1ccx.png);
    background-size: cover;
    /* background-position: center; */
    /* background-repeat: no-repeat; */
}

h1{
    text-align: center;
    color: whitesmoke;
    text-shadow: 0 0 3px #098a4a, 0 0 5px #00ffb3;
}

h2{
    text-align: center;
    color: whitesmoke;
    text-shadow: 0 0 3px #098a4a, 0 0 5px #00ffb3;
}

#cardDeck,.section{
    text-align: center;
    flex-wrap: nowrap;
    display: flex;
    width: 500px;
    margin: auto;
    justify-content: space-evenly;
    
}

.dealerSide{
    width: 360px;
    height: 325px;
    margin: 1ex;
    font-weight: bold;
    font-size: larger;
    border:3px solid white;
    color: #003300;
    justify-content: center;
    text-shadow: 0 0 3px #098a4a, 0 0 5px #00ffb3;
    /* text-align: center; */
    /* vertical-align: middle; */
    line-height: 320px;
    background: url(https://i.imgur.com/q1kCNAqm.jpg)
    /* justify-content: center; */
    /* flex-direction: column; */
    
    
}

.playerSide{
    width: 360px;
    height: 325px;
    font-size: larger;
    font-weight: bold;
    border:3px solid white;
    margin: 1ex;
    color: #660000;
    text-shadow: 0 0 3px #098a4a, 0 0 5px #00ffb3;
    /* text-align: center; */
    /* vertical-align: middle; */
    line-height: 320px;
    background: url(https://i.imgur.com/uioPgUs.png)
    /* flex-direction: column; */
    /* justify-content: space-between; */
    
} 

#result,.section{
    text-align: center;
    font-size: larger;
    font-weight: bolder;
    /* text-align: center;
    vertical-align: text-bottom;
    line-height: 35px; */
    
    
}

.winner{
    text-align: center;
    color: black;
    text-shadow: 0 0 3px #098a4a, 0 0 5px #00ffb3;
}

#buttons,.section{
    text-align: center;
    transition-duration: 0.4s;
}

.buttonHitMe {
    background-color: whitesmoke;
    border-radius: 4px;
    font-weight: bold;
    text-align: center;

}

.buttonHitMe:hover {
    background-color: blue;
}

.buttonRestart{
    background-color: whitesmoke;
    border-radius: 4px;
    font-weight: bold;
}

.buttonRestart:hover {
    background-color: red;
}

/* .buttonHold {
    background-color: red;
    border-radius: 4px;
    font-weight: bold;
}

.buttonHold:hover{
    background-color: whitesmoke;
} */