body{
    background-color: green;
    background-position: center;
}

h1{
    text-align: center;
}

#cardDeck,.section{
    text-align: center;
    flex-wrap: nowrap;
    display: flex;
    width:400px;
    margin: auto;
}

.dealerSide{
    width: 200px;
    height: 200px;
    font-weight: bold;
    font-size: larger;
    border:4px solid black;
    
}

.playerSide{
    width: 200px;
    height: 200px;
    font-size: larger;
    font-weight: bold;
    border:4px solid black;
    
    
}

#result,.section{
    text-align: center;
}

.winner{
    text-align: center;
}

#buttons,.section{
    text-align: center;
    transition-duration: 0.4s;
    
}

.buttonHitMe {
    background-color: red;
    border-radius: 4px;
    font-weight: bold;

}

.buttonHitMe:hover {
    background-color: whitesmoke;
}

.buttonRestart{
    background-color: red;
    border-radius: 4px;
    font-weight: bold;
}

.buttonRestart:hover {
    background-color: whitesmoke;
}

.buttonHold {
    background-color: red;
    border-radius: 4px;
    font-weight: bold;
}

.buttonHold:hover{
    background-color: whitesmoke;
}